version: "3"

services:
  server:
    image: task-queue-asynq-server:latest
    build:
      dockerfile: DockerfileServer
      context: .
    restart: always
    container_name: task-queue-asynq-server_container
    environment:
      - REDIS_URL=host.docker.internal:6379

  client:
    image: task-queue-asynq-client:latest
    build:
      dockerfile: ./DockerfileClient
      context: .
    restart: always
    depends_on:
      - server
    container_name: task-queue-asynq-client_container
    ports:
      - '8080:8080'
    environment:
      - GIN_MODE=debug
      - REDIS_URL=
