version: "3"

services:
  server:
    image: task-queue-asynq:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: always
    command:
      - ./server
    container_name: task-queue-asynq-server_container
    depends_on:
      - client
    environment:
      - REDIS_URL=host.docker.internal:6379

  client:
    image: task-queue-asynq:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: always
    container_name: task-queue-asynq-client_container
    ports:
      - '8080:8080'
    environment:
      - GIN_MODE=debug
      - REDIS_URL=
